{% extends 'base.html' %}
{% load i18n %}

{% block title %}Verksamhetsåret {{ object }}{% endblock %}

{% block content %}
<div class="col-xl-8">
    <div class="container-fluid">
        <div class="row h2">
            <div class="col-2 text-left">{% if previous %}<a class="btn btn-outline-secondary bi bi-caret-left-fill" href="{% url 'batadasen:associationyear_detail' previous %}" class="silent-link"></a>{% endif %}</div>
            <div class="col-8 text-center">Verksamhetsåret {{ object }}</div>
            <div class="col-2 text-right">{% if next %}<a class="btn  btn-outline-secondary bi bi-caret-right-fill" href="{% url 'batadasen:associationyear_detail' next %}" class="silent-link"></a>{% endif %}</div>
        </div>
    </div>
    <table class="table table-sm table-striped">
        {% for group in groups %}
        <tr class="table-primary">
            <th colspan="4">
                <a href="{% url 'batadasen:associationyear_group_detail' object.end_year group.group.group_type.short_name %}">{{ group.group.group_type.name }} ({{ group.group.group_type.short_name }})</a>
            </th>
        </tr>
        {% for activity in group.activities %}
        <tr>
            <td><a href="{% url 'batadasen:person_detail' activity.person.member_number %}">{{ activity.person.member_number }}</a></td>
            <td>{{ activity.person.first_name }} {% if activity.person.spex_name %}"{{ activity.person.spex_name }}" {% endif %}{{ activity.person.last_name }}</td>
            <td>{% if activity.title %}{{ activity.title }}{% endif %}</td>
            <td>{% if activity.to_date %}T.o.m. {{ activity.to_date }}{% endif %}</td>
        </tr>
        {% endfor %}    
        {% endfor %}
    </table>
</div>
{% endblock %}
