{% extends 'base.html' %}
{% load i18n %}

{% block title %}LiSS internsidor{% endblock %}

{% block content %}
<h1>LiSS internsidor</h1>
<p>Här finns diverse funktioner som kan vara användbara för spexare:</p>
<ul>
    <li><a href="{% url 'batadasen:production_list' %}">Lista uppsättningar och medlemmar</a></li>
    <li><a href="{% url 'batadasen:emaillist_list' %}">Se vilka e-postlistor som finns</a></li>
    <li><a href="{% url 'batadasen:person_settings' %}">Redigera dina uppgifter och inställningar</a></li>
    <li><a href="{% url 'assetmanager:asset_list' %}">Se och uppdatera info om spexets inventarier</a></li>
    <li><a href="{% url 'showcounter:overview' %}">Räkna hur många föreställningar du varit med på!</a></li>
    <li><a href="{% url 'spexflix:index' %}">Spexflix - Kolla på gamla spex!</a></li>
    <li><a href="https://old.studentspex.se">Gamla sidor som inte flyttats ännu</a></li>
</ul>
{% endblock %}