{% extends 'base_sidebar.html' %}
{% load i18n %}

{% block title %}Persondetaljer{% endblock %}

{% block content %}
<h1>Detaljer för medlem {{ object.member_number }}</h1>

{% if not object.currently_member %}
<div class="alert alert-warning" role="alert">
Personen har inte betalat medlemsavgift och är för närvarande inte medlem i föreningen!
</div>
{% endif %}

{% if request.user.person == object %}

<div class="alert alert-primary" role="alert">
    Det här är du! Gå till <a href="{% url 'batadasen:person_self' %}">din sida</a> för att redigera din info.
</div>

{% elif object.privacy_setting == 'LIM' %}

<div class="alert alert-primary" role="alert">
    Personen har valt att inte visa all information för andra medlemmar.

    {% if perms.batadasen.view_private_info %}
    <br>Du kan bara se den för att du är administratör.
    {% endif %}
</div>

{% elif object.privacy_setting == 'PVT' %}

<div class="alert alert-danger" role="alert">
    Personen har valt att dölja all information för andra medlemmar.

    {% if perms.batadasen.view_private_info %}
    <br>Du kan bara se den för att du är administratör.
    {% endif %}
</div>

{% endif %}

<table class="table table-sm table-striped">
<tr>
    <td>Medlemsnummer</td>
    <td>{{ object.member_number }}</a></td>
</tr>
{% if object.privacy_setting in 'LIM,OPN' or perms.batadasen.view_private_info or request.user.person == object %}
<tr>
    <td>Namn</td>
    <td>{{ object.first_name }} {% if object.spex_name %}"{{ object.spex_name }}" {% endif %}{{ object.last_name }}</td>
</tr>
<tr>
    <td>E-post</td>
    <td>{% if object.address_list_email %}{{ object.address_list_email }}{% else %}{{ object.email }}{% endif %}</a></td>
</tr>
{% endif %}
{% if object.privacy_setting == 'OPN' or perms.batadasen.view_private_info  or request.user.person == object %}
<tr>
    <td>Telefonnr (mobil)</td>
    <td>{{ object.phone_mobile }}</a></td>
</tr>
<tr>
    <td>Telefonnr (hem)</td>
    <td>{{ object.phone_home }}</a></td>
</tr>
<tr>
    <td>Telefonnr (arbete)</td>
    <td>{{ object.phone_work }}</a></td>
</tr>
<tr>
    <td>Gatuadress</td>
    <td>{{ object.street_address }}</a></td>
</tr>
<tr>
    <td>Postadress</td>
    <td>{{ object.postal_code }} {{ object.postal_locality }}</a></td>
</tr>
{% endif %}
</table>

<h2>Uppsättningshistorik</h2>
<table class="table table-sm table-striped">
<tr>
    <th>Uppsättning</th>
    <th>Grupp</th>
    <th>Titel</th>
    <th>Kommentar</th>
</tr>
{% for membership in object.production_memberships.all %}
<tr>
    <td>{{ membership.group.production.short_name }}</td>
    <td>{{ membership.group.group_type.short_name }}</td>
    <td>{% if membership.title %}{{ membership.title }}{% endif %}</td>
    <td>{{ membership.comment }}</td>
</tr>
{% endfor %}
</table>

<h2>Föreningsuppdrag</h2>
<table class="table table-sm table-striped">
<tr>
    <th>Grupp</th>
    <th>Titel</th>
</tr>
{% for activity in object.association_activities.all %}
<tr>
    <td>{{ activity.group }}</td>
    <td>{% if activity.title %}{{ activity.title }}{% endif %}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
