{% extends 'base_sidebar.html' %}
{% load i18n %}

{% block title %}Min sida{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

{% if object %}

<h2>Välkommen, 
    {% if object.spex_name != "" %}
        {{ object.spex_name }} 
    {% else %} 
        {{ object.first_name }} {{ object.last_name }}
    {% endif %}
    till din egen sida!
</h2>

<p>
Ditt användarnamn är {{ object.user.username }}
</p>
{% if object.currently_member %}
<div class="alert alert-success" role="alert">
    Du är medlem i föreningen
</div>
{% else %}
<div class="alert alert-warning" role="alert">
    Du är inte medlem i föreningen
</div>
{% endif %}

<h4>
Medlem {{ object.member_number }}, {{ object.first_name }} {{ object.last_name }}
</h4>

<div>
{% crispy form form.helper %}
</div>

<div>
<h2>Extra mailadresser</h2>
<p>Vissa maillistor accepterar bara mail från spexare, baserat på vilken mailadress man skickar från. Om du behöver skicka mail från
    andra adresser än de du skrivit in ovan behöver du lägga till dem som extra mailadresser här (tidigare kallat vitlistan):
</p>
<ul>
{% for email in extra_emails %}
    <li>{{ email.email }}</li>
{% endfor %}
</ul>
<p><a href="{% url 'batadasen:person_extra_email' %}">Lägg till ny mailadress</a></p>
<p>Kontakta någon i styrelsen eller directionen om du vill ta bort en mailadress.</p>
</div>

<h2>Medlemskapshistoria</h2>
<p>
Baserat på uppgifter som finns i Batadasen. Om du var medlem redan före 1991 finns inte dom uppgiftern med i Batadasen. Även andra uppgifter kan ha ramlat ut i cyberrymden.
</p>

Du har varit medlem i föreningen under följande verksamhetsår:
<ul>
{% for membership in object.association_memberships.all %}
    <li>{{ membership.year }}</li>
{% endfor %}
</ul>

{% else %}
<div class="alert alert-danger" role="alert">
Ditt användarkonto ({{ request.user }}) har ingen person kopplad till sig.
</div>

{% endif %}

{% endblock %}
