{% extends 'base_sidebar.html' %}
{% load i18n %}

{% block title %}Uppsättningslista {{ object.short_name }}{% endblock %}

{% block content %}
<h2>{{ object.short_name }} - {{ object.main_title }}</h2>

<p>Om bakgrunden är röd så är personen inte medlem i föreningen.</p>
{% if perms.batadasen.view_private_info %}
<p>
Om bakgrunden är gul så har personen valt att dölja sina personuppgifter för vanliga medlemmmar.
</p>
{% endif %}

<table class="table table-sm table-striped">
{% for group in groups %}
<tr class="table-primary"> <th colspan="4">{{ group.group.group_type.name }} ({{ group.group.group_type.short_name }})</th></tr>
{% for membership in group.memberships.all %}

{% if membership.person.privacy_setting == 'PVT' %}
<tr class = "table-warning">
{% elif not membership.person.currently_member %}
<tr class = "table-danger">
{% else %}
<tr>
{% endif %}
    <td><a href="{% url 'batadasen:person_detail' membership.person.member_number %}">{{ membership.person.member_number }}</a></td>
    <td>
        {{ membership.person.first_name }} {% if membership.person.spex_name %}"{{ membership.person.spex_name }}" {% endif %}{{ membership.person.last_name }}
    </td>
    <td>{% if membership.title %}{{ membership.title }}{% endif %}</td>
    <td>{% if membership.comment %}{{ membership.comment }}{% endif %}</td>
</tr>
{% endfor %}
{% endfor %}
</table>

{% endblock %}