{% extends 'base.html' %}
{% load i18n %}

{% block title %}Uppsättningslista {{ object.short_name }}{% endblock %}

{% block content %}
<div class="col-xl-8">
    <div class="container-fluid">
        <div class="row h2">
            <div class="col-2 text-left">{% if previous %}<a class="btn btn-outline-secondary bi bi-caret-left-fill" href="{% url 'batadasen:production_detail' previous %}" class="silent-link"></a>{% endif %}</div>
            <div class="col-8 text-center">{{ object.short_name }} - {{ object.main_title }}</div>
            <div class="col-2 text-right">{% if next %}<a class="btn  btn-outline-secondary bi bi-caret-right-fill" href="{% url 'batadasen:production_detail' next %}" class="silent-link"></a>{% endif %}</div>
        </div>
    </div>
<p>Om bakgrunden är röd så är personen inte medlem i föreningen.</p>

<table class="table table-sm table-striped">
{% for group in groups %}
<tr class="table-primary"> <th colspan="4">{{ group.group.group_type.name }} ({{ group.group.group_type.short_name }})</th></tr>
{% for membership in group.memberships.all %}
{% if not membership.person.currently_member %}
<tr class = "table-danger">
{% else %}
<tr>
{% endif %}
    <td><a href="{% url 'batadasen:person_detail' membership.person.member_number %}">{{ membership.person.member_number }}</a></td>
    <td>
        {{ membership.person.first_name }} {% if membership.person.spex_name %}"{{ membership.person.spex_name }}" {% endif %}{{ membership.person.last_name }}{% if membership.first_production_id == object.pk %}*{% endif %}
    </td>
    <td>{% if membership.title %}{{ membership.title }}{% endif %}</td>
    <td>{% if membership.comment %}{{ membership.comment }}{% endif %}</td>
</tr>
{% endfor %}
{% endfor %}
</table>
<p>* Personens första uppsättning. </p>
</div>

{% endblock %}