{% extends 'base_sidebar.html' %}
{% load i18n %}

{% block title %}Räkna föreställningar{% endblock %}

{% block content %}

<h2>Räkna föreställningar du varit med på!</h2>

<p>
Den här sidan är främst tänkt som ett stöd för att som spexare räkna hur många föreställningar man har varit med på.
</p>

<p>
Det finns inga officiella regler för hur man ska räkna om man t.ex. vill kvalificera sig 
för en hundraklocka, klockan blir hundra när man själv känner att timmen är slagen så att säga. 
Det hela handlar till största delen om sunt förnuft och ett litet mått av tradition. 
</p>
<p>
På en tidigare version av föreställningsräknarhemsidan fanns att läsa följande lösa riktlinjer:
<ul>
    <li>
        Man räknar bara föreställningar man varit fysiskt närvarande vid. Är man i en grupp som manus, KM eller ledning där inte alla 
        nödvändigtvis har en bestämd uppgift under föreställningen tycker jag ändå att man för gemenskapen och att för att det "ska räknas" ska finnas på teatern. 
        Det kan finnas andra uppfattningar om detta, och då får man respektera att det är det som "gäller" för den personen. Det handlar ju inte om någon tävling.
    </li>
    <li>
        Man behöver inte vara uppsättningsmedlem för att räkna en föreställning, förutsatt att man bidrar med något till 
        föreställningens genomförande - Ratta ljud, vara inspicient, inhoppare i någon annan grupp, etc.
    </li>
    <li>
        Traditionen bjuder att man som ickeaktiv kan räkna två föreställningar per uppsättning, förutsatta att man är och tittar förstås.
    </li>
    <li>
        Eget omdöme och §17 är alltid tillämpliga. 
    </li>
</ul>
</p>

<p><b>Medlem {{ request.user.person.member_number }}, {{ request.user.person.full_name }}, har medverkat vid totalt {{ total_participations }} föreställningar</b>.</p>
<p>Välj en uppsättning nedan för att redigera vilka föreställningar du medverkat vid:</p>

<div class="col-sm-8">

<table class="table table-sm">
    <tr>
        <th>
            År
        </th>
        <th>
            Uppsättning
        </th>
        <th>
            Antal
        </th>
    </tr>
{% for production in productions %}
    <tr>
        <td>
            {{ production.year }}
        </td>
        <td>
            <a href="{% url 'showcounter:production' production.number %}">{{ production.main_title }}</a>
        </td>
        <td>
            {{ production.num_participations }}
        </td>
    </tr>
{% endfor %}
</table>
</div>

{% endblock %}