{% extends 'base.html' %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block body %}
    <div id="sidebar" class="col-md-2">
        <a class="nav-link" href="/">Start</a>
        <a class="nav-link" href="https://wiki.studentspex.se">Wiki</a>
        <a class="nav-link" href="{% url 'batadasen:person_self' %}">Min sida</a>
        <form action="{% url 'oidc_logout' %}" method="post">
            {% csrf_token %}
            <input type="submit" id="logout-btn" class="btn btn-outline-secondary" value="Logga ut">
        </form>
        {% if request.user.is_staff %}
        <a class="nav-link" id="admin-link" href="{% url 'admin:index' %}">Admin</a>
        {% endif %}
    </div>
    <div class="col-md-10">
        {% block content %} {% endblock %}
    </div>
{% endblock %}