html, body {
    background-color: white;
}

#wrapper {
    padding-left: 0;
    height: 100%;
    transition: all 0.2s ease;
}

/*
The .toggled class toggles if the default behaviour of the sidebar should be used, by initially
leaving the #wrapper div without .toggled.

For small screens, the sidebar should be hidden by default and shown when .toggled is set on #wrapper.
For large screens, the presence of .toggled hides the sidebar.
*/
#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    top: 0;
    overflow-y: auto;
    background: #eeeeee;
    transition: all 0.2s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-header button {
    z-index: 1000;
    width: 50px;
    height: 50px;
    font-size: 30px;
    padding: 0;
    color: #555;
    border-color: #ccc;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

#page-header {
    position: fixed;
    background-color: #eeeeee;
    height: 50px;
    z-index: 1001;
    width: 100%;
    top: 0;
    margin-left: 0px;
    transition: all 0.2s ease;
}

#wrapper.toggled #page-header {
    position: fixed;
    width: 50px;
    margin-right: -250px;
    margin-left: -50px;
}

main {
    margin-top: 50px;
    padding-top: 10px;
    transition: all 0.2s ease;
}

#wrapper.toggled main {
    margin-top: 0px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

    main {
        margin-top: 0px;
        padding-left: 50px;
    }

    #wrapper.toggled main {
        margin-top: 60px;
    }

    #page-header {
        width: 50px;
        margin-right: -250px;
        margin-left: -50px;
    }

    #wrapper.toggled #page-header {
        width: 100%;
        margin-right: -250px;
        margin-left: 0px;
    }
}

a.silent-link {
    text-decoration: none;
    color: inherit
}

.achievements {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
    margin-bottom: 1rem;
}

.achievements div {
    border-radius: 0.25rem;
    height: 4rem;
    width: 4rem;
    padding: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;

}

.achievement-2 {
    background:  #b08657 url("/static/images/2-medalj.svg");
}

.achievement-4 {
    background:  #aaa9ad url("/static/images/4-medalj.svg");
}

.achievement-6 {
    background:  #f2c43a url("/static/images/6-medalj.svg");
}

.achievement-100 {
    background:  #83d0f0 url("/static/images/100-klocka.svg");
}

.shimmer {
    mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/400% 100%;
    animation: shimmer 5s infinite;
}

.tick {
    animation: tick 2s infinite;
}

@keyframes shimmer {
    90% {
       mask-position: right;
    }
    100% {
        mask-position: left;
    }
}

@keyframes tick2 {
    0% {
        transform: scale(1.0);
    }
    49% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.03);
    }
    99% {
        transform: scale(1.03);
    }
}


@keyframes tick {
    0% {
        transform: rotate(0deg);
    }
    49% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(2deg);
    }
    99% {
        transform: rotate(2deg);
    }
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    flex-wrap: nowrap;
}

.sidebar-nav a {
    display: block;
    text-decoration: none;
    color: #555;
    text-indent: 16px;
    line-height: 3.5vh;
}

.sidebar-nav a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(0,0,0,0.2);
}

.sidebar-nav > .sidebar-brand {
    margin: 2vh 0 0 -25px;
}

.sidebar-nav > .sidebar-brand:hover {
    background: none;
}

.sidebar-nav > h5 {
    margin: 1.5vh 0 4px 0;
    font-weight: 100;
    font-size: 12px;
    text-indent: 16px;
}

.sidebar-brand img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
    max-height: 80px;
}

.sidebar-nav > span.spacer {
	flex-grow: 1;
}

.table {
    display: table;
    table-layout: auto;
}

.table-row {
    display: table-row;
}

.table-row:hover {
    background-color: #dddddd;
}

.table-link {
    display: block;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 20px;
}

.table-link:hover {
    text-decoration: none;
}

td.table-cell {
    padding: 0;
}

.table-header {
    display: table-header-group;
    text-align: center;
}

#toprow  {
    margin-top: 20px;
    margin-bottom: 30px;
}
